.app {
  background: rgba(115, 165, 54, 0.603);
  padding: 40px;
  height: 100vh;
}

.todo-list {
  background: rgba(67, 151, 116, 0.452);
  border-radius: 4px;
  padding: 5px;
  max-width: 500px;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
  font-size: 20px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}